{% load static %}
{% load path_builder %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Herd Genetics
        {% endblock title %}
    </title>

    <link rel="icon" href="{% static 'media/favicon.png' %}" type="image/png">
    <link rel="icon" href="{% static 'media/favicon.svg' %}" type="image/svg">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/loading.js' %}"></script>
    <script src="{% static 'js/filtering.js' %}"></script>
    <script src="{% static 'js/cookies.js' %}"></script>

    {% block head %}

    {% endblock head %}

</head>

<body>
    <nav class="background-b pad">
        <div class="path flex">
            <a class="pad-small as-link" href="/">Herd Genetics/</a>
            {% block navpath %}
            {% endblock navpath %}
        </div>
        <div class="auth grid-auto-col gap">
            {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <a class="pad-small as-link" href="/admin/">Admin</a>
            {% endif %}
            <a class="pad-small as-link" href="/auth/account">Account</a>
            <form method="POST" action="/auth/logout/" class="pad-small">
                {% csrf_token %}
                <button class="as-link" type="submit">Logout</button>
            </form>
            {% else %}
            <a class="pad-small as-link" href="/auth/login">Login</a>
            <a class="pad-small as-link" href="/auth/signup">Signup</a>
            {% endif %}
        </div>
    </nav>
    <main>
        {% block main %}

        {% endblock main %}
    </main>

    <footer class="pad-small background-b">
        <p>Created by Owen Dechow</p>
        <p>Comments/Feedback: <a class="as-link" href="mailto:herdgenetics@gmail.com">herdgenetics@gmail.com</a></p>
        <p>MIT License: Copyright (c) 2024 Owen Dechow</p>
    </footer>

    {% block end %}

    {% endblock end %}
</body>

</html>