.enrollments {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: 20px;
    padding: 20px;
}

.enrollments div {
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 10px;
}