header {
    max-height: 100vh;
    height: 600px;
    overflow: hidden;
}


.marquee {
    width: fit-content;
    animation: marquee 60s ease-in-out infinite alternate;
    filter: brightness(50%);
    position: relative;
    height: 100%;
}

.marquee>* {
    height: 100%;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% + 100vw));
    }
}

.header-text {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -75%;
    color: var(--text-b);
    font-size: 2rem;
}

.class {
    width: 100%;
    overflow: hidden;
}

.assignment-list {
    border-left: 1px solid;
    padding-left: 30px;
}

.toprow h2 {
    margin: 0;
}

.classinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
    .assignment-list {
        border-left: none;
    }

    .classinfo {
        grid-template-columns: 1fr;
    }
}
