{% extends 'base.html' %}
{% load static %}
{% load path_builder %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/stdform.css' %}" type="text/css">
{% endblock head %}

{% block navpath %}
{% build_class_path "as-link pad-small" %}
{% titled_self_path "Test Complete" "as-link pad-small" %}
{% endblock navpath %}

{% block main %}
<form class="std-form margin-auto" method="POST">
    <h1>Genomic Test Complete</h1>
    <a href="/" class="as-btn background-green pad border-radius full-width center-text">Return home</a>
</form>

{% endblock main %}
