{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}" type="text/css">
{% endblock head %}

{% block main %}

<header>
    <div class="flex marquee">
        <img loading="lazy" src="{% static 'media/banner5.webp' %}" alt="Header Image">
        <img loading="lazy" src="{% static 'media/banner1.webp' %}" alt="Header Image">
        <img loading="lazy" src="{% static 'media/banner2.webp' %}" alt="Header Image">
        <img loading="lazy" src="{% static 'media/banner4.webp' %}" alt="Header Image">
        <img loading="lazy" src="{% static 'media/banner6.webp' %}" alt="Header Image">
        <img loading="lazy" src="{% static 'media/banner7.webp' %}" alt="Header Image">
        <img loading="lazy" src="{% static 'media/banner8.webp' %}" alt="Header Image">
        <img loading="lazy" src="{% static 'media/banner9.webp' %}" alt="Header Image">
        <img loading="lazy" src="{% static 'media/banner10.webp' %}" alt="Header Image">
        <img loading="lazy" src="{% static 'media/banner11.webp' %}" alt="Header Image">
        <img loading="lazy" src="{% static 'media/banner3.webp' %}" alt="Header Image">
    </div>

    <div class="header-text center-text">
        <h1>Herd Genetics</h1>
        <p>Genetic Progress Simulator</p>
    </div>

</header>

<div class="background-b grid-auto-col pad">
    <a class="as-link center-text" href="/traitsets">Traitset Referance</a>
    <a class="as-link center-text" href="/equations">Calcuations Referance</a>
</div>

<div class="classsection">
    <div class="classlist pad grid-auto-row gap">
        {% for class, assignments in classes.items %}
        <div class="class box-shadow border-radius">
            <div class="toprow background-b">
                <a class="pad display-inline full-width as-link" href="/class/{{class.id}}">
                    <h2>
                        {{class.name}}
                    </h2>
                    <p>Professor: {{class.teacher.get_full_name}} ({{class.teacher.email}})</p>
                </a>
            </div>
            <div class="classinfo">
                <div class="pad pre-line">{{class.info}}</div>
                <ul class="assignment-list">
                    {% for assignment in assignments %}
                    <li>{{assignment.name}} <br> {{assignment.startdate}} - {{assignment.duedate}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
        {% for class in requested_classes %}
        <div class="class box-shadow border-radius">
            <div class="pad background-b">
                Request: {{class.classcode}}
            </div>
            <div class="pad">You have not yet been accepted into this class.</div>
        </div>
        {% endfor %}
    </div>
    <div class=" pad">
        <a class="border-radius pad as-btn background-green" href="class/create">Create Class</a>
        <a class="border-radius pad as-btn background-light-grey" href="class/join">Join Class</a>
    </div>
</div>

{% endblock main %}
