{% extends 'base.html' %}
{% load animal_filters %}
{% load static %}

{% block head %}
<script src="{% static 'js/herds.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/openherd.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/stdform.css' %}" type="text/css">
{% endblock head %}

{% block main %}

<div id="assignments" class="assignments">
</div>

<div class="main-content pad">
    <div>
        <h1 autofilter>{% auto_filter_text herd_auth.herd.name %}</h1>
        <div class="grid-auto-row gap">
            <button class="as-btn background-green pad border-radius" onclick="showSummary()">Show Summary</button>
            <details class="box-shadow border-radius hide" id="breed-herd">
                <summary class="header">Breed {% auto_filter_text "Herd" %}</summary>
                <form action="/class/{{class.id}}/herd/{{herd_auth.herd.id}}/breed" onsubmit="return confirmBreedingSubmission()" method="POST" class="pad">
                    <div class="malelist-validation">
                        <span id="malelist-validation-status" class="background-red pad-small flex">Invalid</span>
                        {{breed_form}}
                    </div>
                    {% csrf_token %}
                    <div class="grid-auto-row gap">
                        <div id="malelist" class="malelist grid-auto-row gap pad"></div>
                        <button onclick="addMaleForBreeding('{{class.id}}', '{{herd_auth.herd.id}}')" type="button" class="as-btn pad border-radius background-light-grey">Add New {% auto_filter_text "Male" %}</button>
                        <button onclick="loadSavedMales('{{class.id}}', '{{herd_auth.herd.id}}')" type="button" class="as-btn pad border-radius background-light-grey">Load Saved {% auto_filter_text "Males" %}</button>
                        <button onclick="clearSavedMales('{{class.id}}')" type="button" class="as-btn pad border-radius background-light-grey">Clear Saved {% auto_filter_text "Males" %}</button>
                        <button type="submit" class="as-btn pad border-radius background-green">Breed {% auto_filter_text "Herd" %}</button>
                    </div>
                </form>
            </details>
            <details class=" box-shadow border-radius">
                <summary class="header">
                    Sort
                </summary>
                <div class="grid-auto-row">
                    <div class="grid-auto-row gap pad">
                        <div>
                            <label>Order:</label>
                            <select id="sort-order" onchange="resortAnimals('{{herd_auth.herd.id}')">
                                <option value="ascending">Ascending</option>
                                <option value="decending" selected>Decending</option>
                            </select>
                        </div>
                        <div>
                            <label>By:</label>
                            <select id="sort-options" onchange="resortAnimals('{{herd_auth.herd.id}')">
                            </select>
                        </div>
                    </div>
                    <loading-symbol name="herd"></loading-symbol>
                </div>
            </details>
            <details class="box-shadow border-radius">
                <summary class="header">
                    {% auto_filter_text "Males" %}
                </summary>
                <div id="males" class="grid-auto-row animal-select">
                    <loading-symbol name="herd"></loading-symbol>
                </div>
            </details>
            <details class="box-shadow border-radius">
                <summary class="header">
                    {% auto_filter_text "Females" %}
                </summary>
                <div id="females" class="grid-auto-row animal-select">
                    <loading-symbol name="herd"></loading-symbol>
                </div>
            </details>
        </div>
    </div>
    <div>
        <h2 id="info-header" class="info-header">~</h2>
        <div id="info" class="info grid-auto-row box-shadow border-radius">
            <loading-symbol name="herd"></loading-symbol>
        </div>
    </div>
</div>
{% endblock main %}

{% block end %}

{% load_filter_dict %}

<script>
    setUpHerd("{{class.id}}", "{{herd_auth.herd.id}}");
</script>

{% if herd_auth_type is enrollment_herd %}
<script>
    setUpAssignments("{{class.id}}", "{{herd_auth.herd.id}}")
</script>
{% endif %}

{% endblock end %}