{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/stdform.css' %}" type="text/css">
{% endblock head %}

{% block main %}
<form class="std-form margin-auto" method="POST">
    <h1>Enrollment Requested</h1>
    <p>You have successfully requested enrollment. You will be able to access the class once the teacher has confirmed your enrollment.</p>
    <a href="/" class="as-btn background-green pad border-radius full-width center-text">Return home in the meantime</a>
</form>

{% endblock main %}