{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/stdform.css' %}" type="text/css">
{% endblock head %}

{% block main %}

<form method="POST" class="std-form margin-auto">
    <h1>Login</h1>
    {% csrf_token %}
    {{form}}
    <button class="as-btn pad border-radius background-green" type="submit">Login</button> <a class="as-btn pad border-radius background-a" href="/auth/password_reset">Reset Password</a>
    <p>
    <p><a class="as-link" href="/auth/login/email">Login With Email</a></p>
    <p><a class="as-link" href="/auth/login">Login With Username</a></p>
    </p>

</form>

{% endblock main %}