{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/stdform.css' %}" type="text/css">
{% endblock head %}

{% block main %}

<form method="POST" class="std-form margin-auto">
    {% csrf_token %}
    <h1>Password Change</h1>
    <p>
        Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.
    </p>
    {{form}}
    <button type=" submit" class="as-btn pad border-radius background-green">Change Password</button>
</form>

{% endblock main %}