{% extends 'base.html' %}

{% block main %}

<form method="POST" class="auth-form">
    {% if form is None %}
    <h1>Invalid Link</h1>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% else %}
    {% csrf_token %}
    <h1>Enter New Password</h1>
    <p>
        Please enter your new password twice so we can verify you typed it in correctly.
    </p>
    {{ form }}
    <button class="as-btn pad border-radius background-green" type="submit">Reset Password</button>
    {% endif %}
</form>

{% endblock main %}